/*body
{
	background-color: lightblue;
	display: block;
}

h1{
	display: block;
	text-align: center;
}

form{
	display: block;
 	padding: 2% 40% 2%;
}

div {
  background-color: #f2f2f2;
  padding: 0.5em;
}

input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}*/

body{
  background-color: #3C8DAD;
}

h1{
  color: #F5A962;
  text-align: center;
}

form{
  border-style: double;
  border-radius: 5px;
  border-color: #DDDDDD;
  margin-left: 30%;
  margin-right: 30%;
  padding: 1%;
}

div{
  background-color: #125D98;
  display: block;
  padding: 2%;
}

label{
  color: #F5A962;
  width: 10%;
  display: inline-block;
  text-align: left;
  margin-right: 50%;
}

input[type=number]{
  width: 30%;
  border: none;
  border-radius: 4px;
  padding: 1%;
  display: inline-block;
}

input[type=submit] {
  width: 30%;
  background-color: #3C8DAD;
  color: #F5A962;
  margin-left: 35%;
  padding: 5%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

footer{
  padding-top: 5%;
}